<div class=" w-100 d-flex flex-column justify-content-center p-3" style="max-height: 600px; width: 400px;">
    <img [src]="book.image" width="150" class=" mx-auto">
    <div class="card-body d-flex justify-content-center flex-column gap-3">
        <div class="text-center lead">
            <b>
                {{ book.title }}
            </b>
        </div>
        <div class="text-center">
            {{ book.author }}
        </div>
        <div class="text-center">
            {{ book.summary | slice : 0 : 30 }}
        </div>
        <div class="text-start lead">
            Price: <b>${{ book.price.value }}</b>
        </div>
        <button type="button" id="{{book.ISBN}}-btn" class="btn btn-primary p-3" (click)="addBook(book); changeContent($event);" >Add to cart</button> <!-- check for two way binding here-->
    </div>
</div>


