<div class="pt-5 bg-success-subtle pb-5">
  <div class="title display-4 text-center fw-bold mb-5">Search Bar Functionality  </div>
  <app-search-box class="d-flex justify-content-center gap-5 " (searchEvent) = "updatedSearch($event)"></app-search-box>
</div>
<div class="cards-display root d-flex ps-3 bg-primary-subtle border border-warning-subtle">
  
  <div class="card-container d-flex flex-wrap gap-5 pt-4 ps-4 pb-4 pe-3 w-75"   >
    <ng-container  *ngFor = "let book of books">
    <app-card [book] = "book" *ngIf=" filteredPrompt == '' || book.title.toLowerCase().includes(filteredPrompt.toLowerCase()) || book.author.toLowerCase().includes(filteredPrompt.toLowerCase()) " (addBookToCart)="addCart($event)" class="bg-light-subtle border border-info-subtle rounded" ></app-card>
    </ng-container>
  </div>
<div class="cart-container w-25 container-fluid bg-danger-subtle border border-primary-subtle pt-4 ps-4">
    <p class="display-6">
      Cart Contents :
    </p>
    <app-cart-item *ngFor="let cartItem of cart" [item] = "cartItem" (removeBookFromCart) = "removeCart($event)" [(totalCartValue)] = "CartValue" ></app-cart-item>
    <div class="TotalCartValue lead">Total Cart Amount: <b class="fw-bolder">${{ CartValue }}</b> </div>
  </div>
</div>

 